<footer>
    <a href="https://github.com/trevorstinson" class="github">GitHub</a>
    <a href="https://indieweb.social/@trevorstinson" class="mastodon">Mastodon</a>
    <a href="https://www.linkedin.com/in/trevorstinson/" class="linkedin">LinkedIn</a>
</footer>
